@charset "UTF-8";
/* CSS Document */

/* Background */
html { 
  background: url(img/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	font-family: "futura";
	font-style: italic;
	color: white;
	font-size: large;
}

/*HEADLINE 1*/
h1{
	text-align: center;
	color: #7b808c;
	font-family: "futura";
	font-style: italic;
	font-size: xx-large; 
	margin-top: 30px;
	
}

	.flex-container {
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content: center;
    justify-content: center;
	-webkit-align-items: center;
    align-items: center;
	flex-wrap: wrap;
    width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}
	
.flex-item {
    min-width: 220px;
    min-height: 220px;
    margin: 2px;
}

/* Hover Print */
#Print {
    min-height: 220px;
    min-width: 220px;
}

#Print:hover {
    content: url(img/print.png);
    min-height: 220px;
    min-width: 220px;
}

/* Hover Projects */
#Projects {
    min-height: 220px;
    min-width: 220px;
}

#Projects:hover {
    content: url(img/projects.png);
    min-height: 220px;
    min-width: 220px;
}

/* Hover Photography */
#Photography {
    min-height: 220px;
    min-width: 220px;
}

#Photography:hover {
    content: url(img/photography.png);
    min-height: 220px;
    min-width: 220px;
}

/* Highlight Text*/
.highlight1{
   color: white;
	font-family: "futura";
	font-style: italic;
	font-size: xx-large;	
}
 
.highlight1:hover{
   color:#7B808C;
}

/*Shadow*/
img.polaroid {
  width: 700px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}